<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FakeEndoscopicCapture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FakeEndoscopicCapture.Properties.Settings>
            <setting name="cameraNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="captureWidth" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="captureHeight" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="captureFps" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="cropWidth" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="cropHeight" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="displayImageCenterX" serializeAs="String">
                <value>1300</value>
            </setting>
            <setting name="displayImageCenterY" serializeAs="String">
                <value>540</value>
            </setting>
            <setting name="displayImageWidth" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="displayImageHeight" serializeAs="String">
                <value>700</value>
            </setting>
        </FakeEndoscopicCapture.Properties.Settings>
    </userSettings>
</configuration>